@{
    ViewData["Title"] = "Administration";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a asp-action="ListUsers" class="btn btn-outline-primary mt-5 mb-5 w-100">Manage Users</a>
        <a asp-action="ListRoles" class="btn btn-outline-primary mt-5 mb-5 w-100">Manage Roles</a>
    </div>
    <div class="col-md-4"></div>

</div>
